body{
    background-color:transparent;
    background-image: url(background.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}




#workHist {
  display: inline-block;
  overflow:auto;
  white-space: nowrap;
}



.experience{
    display: inline-block;
    width:min-content;
    height: 50%;
    margin: 2%;
    padding: 2%;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    text-align: center;
    background-color: rgba(192, 192, 192, 0.74);
}

.experience img{
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;

}

.experience ul{
  text-align:left;
}


/* screen size adaptation  */
@media only screen and (max-width: 777px){

} 

@media only screen and (max-width: 996px) {
  #phoneNumber {
      display: none;
  }
  #email{
    display: none;
  }
  #career{
    display: none;
  }
  .experience ul{
    display: none;
  }
  
}

@media (min-width: 997px) {
  #barCareer{
    display: none;
    height: 50%;
    width: 100%;
  }
   /* .experience ul{
    display: none;
  } */
}


/* top intro styling */

#rightIntro{
  margin-top: 10%;
}

#pic_1{
    border-style: none;
    border-radius: 5%;
    float:right;
  }


/* header & Navigation*/

header { 
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url(background.jpeg);
}

.navWrapper{
/* text-overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;   */
}

#navigation{
  position: sticky;
  font-size: larger;
  font-weight: bolder;
  font-optical-sizing: 100;
  height: 50%;
  background-color:transparent;
  background-image: url(background.jpeg);
  color: rgb(2, 2, 2);
  text-align: left;
}



#navigation a{
  padding: 4%;
}

#navigation a:link {
  color: black;
  text-decoration: none;
}

#navigation a:visited {
  color: black;
  text-decoration: none;
}

#navigation a:hover {
  color: black;
  text-decoration: none;
}

#navigation a:active {
  color: black;
  text-decoration: none;
}


p a:link{
color: rgb(50, 17, 82);
text-decoration: none;
}

p a:link{
color: rgb(50, 17, 82);
text-decoration: none;

}

.navMenu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

button{
  background-color: transparent;
  border:none;
  color:rgb(252, 249, 249);
}

p{
    font-size: large;
    font-weight:lighter;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #101110;
}

#title{
  margin-right: 2em;
  margin-left: 1em;
  font-size: xx-large;
}
#phoneNumber{
  margin-right: 1em;
  font-size: large;
}

/* Skills section */

/* bar chart skills */

#barCareer{
  text-align: left;
}

#barCareer h2{
text-align: center;
}

.skill {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 40px;
  margin-top: 20px;
  padding-bottom: 30px;
  overflow: auto;
}

.skillname {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 20px;
  color: #050505;
}

.skill-bar{
  width: 100%;
  background-color: #ebebeb;
  height: 4px;
  position: relative;
}

.html{
  width: 90%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index:1;
}

.css{
  width: 75%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.bootstrap{
  width: 75%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.python{
  width: 65%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.Django{
  width: 75%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.C{
  width: 75%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.Javascript{
  width: 90%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.ReactJS{
  width: 90%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.redux{
  width: 60%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.ASP{
  width: 75%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.Sql{
  width: 80%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.MySQL{
  width: 80%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

.Postman{
  width: 95%;
  height: 4px;
  background-color: rgb(10, 161, 10);
  position: relative;
  z-index: 10;
}

/* circle skills  */

.flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.single-chart {
  width: 20%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 55%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.purple .circle {
  stroke: #c124f1e5;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #46abf3;
}

.percentage {
  fill: rgb(7, 7, 7);
  font-size: 25%;
  font-weight: bold;
  font-family:sans-serif;
  text-anchor: middle;
}

/* Recommendation Section  */

h1 {
  font-size: 60px;
  text-align: center;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 25s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 25s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 25s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

#dan{
  height: 3em;
  width: 3em;
  border-radius: 50%;
}



@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}



/* PROJECTS */

.projectSubject{
  margin: 1em;
}

/* Sections */
section{
    margin: 30px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    text-align: center;
    background-color: rgba(192, 192, 192, 0.74);
}

h2{
    font-weight: bolder;
    font-size: xx-large;
}


footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(13, 2, 49, 0.527);
    color: whitesmoke;
    text-align: center;
  }

footer a {
      color: whitesmoke
  }

footer #linkedIn{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border: 3px solid white;
  }

.projects {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border-color: black;

}

ul.noBullets {
  list-style-type: none;


}

#aboutMe p{
  padding: .4%;
}